
DialogueSystem/Library/Artifacts/
DialogueSystem/Library/PackageCache/
DialogueSystem/Library/ShaderCache/
DialogueSystem/Library/StateCache/LayerSettings/
DialogueSystem/Temp/
DialogueSystem/Library/StateCache/MainStageHierarchy
DialogueSystem/ProjectSettings/
DialogueSystem/Library/ScriptAssemblies/
DialogueSystem/Library/